doctype html
html
	head
		mata(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=no")

		title gulp-exercise

		link(rel="stylesheet",href="css/app.min.css?rev=@@hash")
		script(src="")

		body
			.index-wrap 測試

		block script
			script(src="js/app.min.js?rev=@@hash")
