extend layout/basic

block header
	header
		.container
			.content-width
				.header-img
				p.title FAY'S PLAYGROUND
				p.desc Learning is fun. Practice makes perfect.
				p.desc I am a junior Front End.
				ul
					li
						a RESUME
					li 
						a PORTFOLIO
					li 
						a NOTES

block main
	section#resume
		.content-width
			ul
				li <i class="fa fa-book"></i>Basic Skill :
					.content
						p HTML , Pug 
						p CSS3 , Compass(Sass)
						p Javascript(ES6)
				li <i class="fa fa-book"></i>Others :
					.content
						p Git , Gulp , Webpack
						p Photoshop
				li <i class="fa fa-book"></i>Framwork :
					.content
						p Bootstrap
						p Vue.js
						p React.js

	hr

	section#portfolio
		.content-width
			.content
				p.title PORTFOLIO
				p.desc 2016年3月開始透過書籍與網路資源自學網頁前端技術，從基本的 HTML , CSS , jQuery 入門，用 Boostrap 做出 RWD 網頁。目前能夠使用 Vue.js 和 React.js 來寫網頁功能 ，以及使用 Gulp , Webpack 等前端工具來協助開發。
			ul.item-wrap.owl-carousel
				li.item
					p 【網站常用功能】
					p May , 2016
					p 一個以大自然為主題的簡易網站，使用 Bootstrap3、jQuery 套件，並嵌入 Google Map。
					a ...MORE
				li.item 
					p 【資料視覺化】
					p Sep , 2016
					p 這是 jQuery 加上 C3.js 的資料視覺化練習，並在點擊不同圖表時加上漣漪效果。
					a ...MORE
				li.item
					p 【圖文APP】
					p Apr , 2017
					p 使用 create-react-app 建置的React.js專案，想要結合 Canvas 產生圖文。
					a ...MORE
				li.item 
					p 【塔羅線上抽牌】
					p Aug , 2017
					p 以 Vue.js 來寫線上抽牌，可選一張牌或三張牌，是 js 取隨機不重複亂數的小練習。
					a ...MORE

	hr

block footer
	footer
		.container
			.content-width
				p Copyright © Fay's Playground 2017