extend layout/basic

block header
	.container

block main
	.container
		section.left-box
			.content-box
				.head
					.photo
					p.name  Fay Hsu
					p Junior Front-End
				.body
					ul
						li <i class="fa fa-book"></i>Basic Skill :
							p HTML , Pug 
							p CSS , Compass(Sass)
							p Javascript(ES6)
						li.fix <i class="fa fa-unlock-alt"></i>Others :
							p Git , Gulp , Grunt
							p Photoshop (切圖)
						li <i class="fa fa-key"></i>Framwork :
							p Bootstrap
							p Vue.js
							p React.js

		section.right-box
			.img-box
				img(src="image/elk-1.jpg")