extend layout/basic

block header
	

block main
	.img-box
		slides.slide-img
		slides.slide-img
		slides.slide-img
		
		section.left-box
			.content-box
				.head
					.photo
					p.name  Fay Hsu
					p Junior Front-End
				.body
					ul
						li <i class="fa fa-book"></i>Basic Skill :
							p HTML , Pug 
							p CSS , Compass(Sass)
							p Javascript(ES6)
						li.fix-text <i class="fa fa-unlock-alt"></i>Others :
							p Git , Gulp , Grunt
							p Photoshop (切圖)
						li <i class="fa fa-key"></i>Framwork :
							p Bootstrap
							p Vue.js
							p React.js
				.foot
					p <i class="fa fa-star"></i>PORTFOLIO
					p <i class="fa fa-star"></i>CONTACT
		