@import "compass/reset"
@import "compass/css3/box-sizing"
@import "compass/css3/box-shadow"
@import "compass/css3/border-radius"
@import "compass/css3/opacity"
@import "compass/css3/appearance"
@import "compass/css3/transform"
@import "compass/css3/transition"
@import "compass/css3/flexbox"
@import "compass/css3/images"
@import "compass/css3/animation"
@import "compass/css3/user-interface"
@import "compass/utilities/general/clearfix"

@import "_mixin.sass"

$color-pink: #ffcfdf
$color-yellow: rgb(254,253,233)
$color-green-1: #b0f9b5
$color-blue-1: #a5dee5
$color-blue-2: #ecfffb
$color-blue-3: #07689f

// common layout
body
	font-family: "Fresca", sans-serif

section
	@include clearfix()
	margin-top: 15px

i 
	margin-right: 5px

img
	background-size: cover
	background-position: center center
	width: 100%
	height: 100%

//effect
.slide-box
	position: relative
	display: inline-block
	width: 180px
	height: 120px

.slides
	opacity: 0
	position: absolute
	top: 0
	left: 0
	width: 180px
	height: 120px
	margin: 0 auto
	overflow: hidden
	animation: slideImg 90s linear infinite 0s

.slide-img
	&:first-child
		opacity: 1
		background-image: url(../image/elk-1.jpg)

	&:nth-child(2)
		animation-delay: 30s
		background-image: url(../image/elk-2.jpg)

	&:nth-child(3)
		animation-delay: 60s
		background-image: url(../image/elk-3.jpg)

	
@keyframes slideImg 
	0%
		opacity: .8
		transform: sacle(1)
	5%
		opacity: 1
	25%
		opacity: 1
	35%
		opacity: .9
		transform: scale(1.1)
	70%
		opacity: .9
		transform: scale(1.1)
	100%
		opacity: 1
		transform: scale(1) 

.container
	display: inline-block
	width: 1366px
	max-width: 100%
	margin: 0 auto

.content-width
	width: 720px
	max-width: 100%
	margin: 0 auto

.title
	font-size: 2em
	margin-bottom: 15px

.desc
	font-size: 1.2em
	line-height: 1.2em
	margin-bottom: 15px

.left-box
	display: inline-block
	float: left
	background: $color-blue-1
	width: calc(100% * 3 / 12)

	@include rwd-range(320,768)
		float: none
		width: 100%
	
.right-box
	display: inline-block
	float: right
	width: calc(100% * 9 / 12)

	@include rwd-range(320,768)
		float: none
		width: 100%

.item-wrap
	max-width: 100%
	margin: 0 auto

	@include rwd(500)
		padding: 0px
		width: 100%

	.item
		height: 240px
		background: $color-blue-3
		display: block

		&:hover
			background: $color-blue-2
			cursor: pointer


header
	padding: 15px
	text-align: center
	display: flex
	flex-direction: column
	justify-content: center
	color: #fff
	min-height: 65vh

	.header-img
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 1
		background-image: url(../image/elk-3.jpg)
		background-repeat: no-repeat
		background-size: cover
		background-position: center center
		max-height: 65vh
		animation: slideImg 30s linear infinite 0s

		&:before
			content: ""
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			z-index: 2
			background: #000
			opacity: .3
	p
		position: relative
		z-index: 2

	ul
		width: 70%
		margin: 0 auto
		position: relative
		z-index: 2

		@include rwd(500)
			width: 100%

		li
			display: inline-block
			margin: 5px
			width: calc(100% / 3 - 15px)

			a
				display: block
				width: 100%
				height: 32px
				line-height: 32px
				border: 1px solid #fff

				&:hover
					cursor: pointer

#resume
	width: 100%
	height: auto
	font-size: 1.4em

	ul 
		padding: 15px

		@include rwd(500)
			padding: 0

		li
			display: inline-block
			float: left
			padding: 10px
			
			&:nth-child(2)
				border-left: 5px dotted #f5f5f5
				border-right: 5px dotted #f5f5f5

			@include rwd(500)
				display: block
				float: none
				text-align: center

				&:nth-child(2)
					border: 0px
					border-top: 5px dotted #f5f5f5
					border-bottom: 5px dotted #f5f5f5

			.content
				padding: 15px
				padding-left: 25px


#portfolio
	width: 100%
	height: auto

	.content
		text-align: center
	
		@include rwd(500)
			padding: 15px

	.item
		color: #fff
		font-size: 1em
		padding: 5px
		text-align: center
		display: flex
		flex-direction: column
		justify-content: center

		&:hover
			color: $color-blue-3
			transition: .3s

		p
			margin-bottom: 15px

footer
	padding: 15px
	text-align: center


