@import "compass/reset"
@import "compass/css3/box-sizing"
@import "compass/css3/box-shadow"
@import "compass/css3/border-radius"
@import "compass/css3/opacity"
@import "compass/css3/appearance"
@import "compass/css3/transform"
@import "compass/css3/transition"
@import "compass/css3/flexbox"
@import "compass/css3/images"
@import "compass/css3/animation"
@import "compass/css3/user-interface"
@import "compass/utilities/general/clearfix"

@import "_mixin.sass"

$color-pink: #ffcfdf
$color-yellow: #fefdca
$color-green: #b0f9b5
$color-blue-1: #a5dee5
$color-blue-2: #ecfffb
$color-blue-3: #07689f

// common layout
body
	font-family: "Fresca", sans-serif

section
	@include clearfix()
	margin-top: 15px

.container
	width: 1366px
	max-width: 100%
	background: $color-pink
	margin: 0 auto
	padding: 20px 0px

	@include rwd-range(320,760)
		background: #000

.left-box
	display: inline-block
	float: left
	background: $color-blue-1
	width: calc(100% * 3 / 12)

	@include rwd-range(320,768)
		float: none
		width: 100%
	
.right-box
	display: inline-block
	float: right
	width: calc(100% * 9 / 12)

	@include rwd-range(320,768)
		float: none
		width: 100%

.item-wrap
	max-width: 100%
	background: $color-blue-1
	padding: 35px

	.item
		width: calc(100% / 4 - 15px)
		height: 240px
		background: $color-blue-2
		display: inline-block
		margin: 15px 5px

		&:nth-child(odd)
			background: $color-blue-3

		@include rwd(768)
			width: calc(100% / 2 - 15px)

		@include rwd(500)
			width: 100% 

.img-box
	display: inline-block
	overflow: hidden

	img
		width: 100%
		height: 100%

.content-box
	background: $color-yellow

	p
		margin: 10px

	.head
		padding: 10% 15% 0 15%

		.photo
			width: 120px
			height: 120px
			background: $color-blue-2
			@include border-radius(99em)
			margin: 0 auto

		p
			font-size: 1.2em
			text-align: center

	.body
		padding: 2% 5% 5% 15%

		@include rwd-range(769,1023)
			padding-left: 5%

		@include rwd(500)
			padding: 0px 0px 5% 0px
			text-align: center

		ul
			padding-left: 40px

			@include rwd(1024)
				padding-left: 10px

			@include rwd-range(320,768)
				padding-left: 0px


			li
				margin-top: 15px

				@include rwd-range(600,768)
					display: inline-block
					width: calc(100% * 1 / 3 - 5px)
					vertical-align: text-top
				
				i
					margin-right: 5px

				p
					margin: 5px
					padding-left: 15px

			.fix-text
				p
					padding-left: 10px
					


